<!DOCTYPE html>
<html lang="en">
</html>
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="utf-8"/>
    <title>
        后台页面
    </title>
</head>
<script src="__PUBLIC__/js/jquery/2.0.0/jquery.min.js" type="text/javascript">
</script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/3.3.6/bootstrap.css">
<script src="__PUBLIC__/js/bootstrap/3.3.6/bootstrap.js" type="text/javascript">
</script>
<style type="text/css">
    .jumbotron{
        margin: 0;
    }
    .nav .dropdown{
        margin-left: 50px;
    }
        #wel{
        margin-top: 10px;
        padding-right: 50px;
    }
    .breadcrumb{
        padding-left: 70px;
    }
    .name{
        margin: 10px;
    }
    button{
        margin-top: 20px;
    }
        .navbar{
        margin-bottom: 0px;
    }
    .form-control{
        margin-bottom: 13px;
    }
</style>
<body>
    <!-- 巨幕 -->
    <div class="jumbotron">
        <h2 class="text-center text-muted">
            后台管理
        </h2>
    </div>
    <!-- 导航 -->
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">后台</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    banner
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{:U('home/admin/banner_view')}">banner查看</a></li>
                    <li><a href="{:U('home/admin/banner_upload')}">banner上传</a></li>
                    <li><a href="{:U('home/admin/banner_choose')}">banner选择</a></li>
                </ul>
            </li>
            <li><a href="#">其他</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    其他
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="www.baidu.com">另一个分离的链接</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pull-right" id="wel">
            <span class="text-muted">
                欢迎你，{$Think.session.name}
                <a class="btn btn-info btn-xs active" href="{:U('home/login/checkout')}" role="button">
                    退出
                </a>
            </span>
            </div>
    </div>
</nav>
    <!-- 面包屑导航 -->
    <ol class="breadcrumb">
        <li>
            <a href="#">
                banner更换
            </a>
        </li>
        <li>
            <a href="#">
                选择banner
            </a>
        </li>
    </ol>
    <!-- 主区域 -->
    <div class="container">
        <!-- 栅格化 -->
        <div class="row">
            <div class="col-md-11 text-center">
                <h2>
                    选择banner
                </h2>
            </div>
        </div>
        <form action="{:U('home/admin/banner_change')}" method="post">
        <div class="row">
            <div class="col-md-3 text-center">
                <p>
                    <h4>请选择banner1的图片名字：</h4>
                </p>
            </div>
            <div class="col-md-8">
                    <select class="form-control" name="banner1">
                    <for start="0" end="count($banners)">
                        <if condition="$banner1 eq $banners[$i]">
                        <option selected="selected">{$banner1}</option>
                        <else />
                        <option>{$banners[$i]}</option>
                        </if>
                    </for>
                    </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <p>
                    <h4>请选择banner2的图片名字：</h4>
                </p>
            </div>
            <div class="col-md-8">
                    <select class="form-control" name="banner2">
                    <for start="0" end="count($banners)">
                        <if condition="$banner2 eq $banners[$i]">
                        <option selected="selected">{$banner2}</option>
                        <else />
                        <option>{$banners[$i]}</option>
                        </if>
                    </for>
                    </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <p>
                    <h4>请选择banner3的图片名字：</h4>
                </p>
            </div>
            <div class="col-md-8">
                    <select class="form-control" name="banner3">
                    <for start="0" end="count($banners)">
                        <if condition="$banner3 eq $banners[$i]">
                        <option selected="selected">{$banner3}</option>
                        <else />
                        <option>{$banners[$i]}</option>
                        </if>
                    </for>
                    </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <p>
                    <h4>请选择banner4的图片名字：</h4>
                </p>
            </div>
            <div class="col-md-8" align="center">
                    <select class="form-control" name="banner4">
                    <for start="0" end="count($banners)">
                        <if condition="$banner4 eq $banners[$i]">
                        <option selected="selected">{$banner4}</option>
                        <else />
                        <option>{$banners[$i]}</option>
                        </if>
                    </for>
                    </select>
                    <input class="btn btn-success" type="submit" value="提交">
            </div>
        </div>
        </form>
    </div>
</body>
