<!DOCTYPE html>
<html lang="en">
</html>
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="utf-8"/>
    <title>
        后台页面
    </title>
</head>
<script src="__PUBLIC__/js/jquery/2.0.0/jquery.min.js" type="text/javascript">
</script>
<link href="__PUBLIC__/css/bootstrap/3.3.6/bootstrap.css" rel="stylesheet" type="text/css"/>
<script src="__PUBLIC__/js/bootstrap/3.3.6/bootstrap.js" type="text/javascript">
</script>
<style type="text/css">
    .jumbotron{
		margin: 0;
	}
		#wel{
		margin-top: 15px;
		padding-right: 50px;
	}
	.breadcrumb{
		padding-left: 70px;
	}
	img{
		width: 100%;
	}
    .dropdown-menu li{
        padding-right: -50px;
    }
    .navbar{
        margin-bottom: 0px;
    }
</style>
<body>
    <!-- 巨幕 -->
    <div class="jumbotron">
        <h2 class="text-center text-muted">
            后台管理
        </h2>
    </div>
    <!-- 导航 -->
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">后台</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    banner
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{:U('home/admin/banner_view')}">banner查看</a></li>
                    <li><a href="{:U('home/admin/banner_upload')}">banner上传</a></li>
                    <li><a href="{:U('home/admin/banner_choose')}">banner选择</a></li>
                </ul>
            </li>
            <li><a href="#">其他</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    其他
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="www.baidu.com">另一个分离的链接</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pull-right" id="wel">
            <span class="text-muted">
                欢迎你，{$Think.session.name}
                <a class="btn btn-info btn-xs active" href="{:U('home/login/checkout')}" role="button">
                    退出
                </a>
            </span>
            </div>
    </div>
</nav>
    <!-- 面包屑导航 -->
    <ol class="breadcrumb">
        <li>
            <a href="{:U('home/admin/banner_view')}">
                banner
            </a>
        </li>
        <li>
            <a href="{:U('home/admin/banner_view')}">
                查看banner
            </a>
        </li>
    </ol>
    <!-- 主区域 -->
    <div class="container">
        <!-- 栅格化 -->
        <div class="row">
            <div class="col-md-12 text-center"><h2>查看banner</h2></div>
        </div>
 <for start="0" end="count($banners)">

<if condition="(($i)%3 eq 0) AND ($i eq 0) ">
<div class="row">
<if condition="($banners[$i] eq $banner1) or ($banners[$i] eq $banner2) or ($banners[$i] eq $banner3) or($banners[$i] eq $banner4)">
                    <div class="col-md-4">
                        <img src="http://www.xingkong.us/home/Public/image/banner/{$banners[$i]}">
                        <h4 class="text-muted text-primary text-center">{$banners[$i]}(已选)</h4>
                    </div>
<else />
<div class="col-md-4">
                        <img src="http://www.xingkong.us/home/Public/image/banner/{$banners[$i]}">
                        <h4 class="text-muted text-primary text-center">{$banners[$i]}</h4>
                    </div>
</if>
<elseif condition="(($i)%3 eq 0) AND ($i neq 0) "/>
</div>
<div class="row">
                    <if condition="($banners[$i] eq $banner1) or ($banners[$i] eq $banner2) or ($banners[$i] eq $banner3) or($banners[$i] eq $banner4)">
                    <div class="col-md-4">
                        <img src="http://www.xingkong.us/home/Public/image/banner/{$banners[$i]}">
                        <h4 class="text-muted text-primary text-center">{$banners[$i]}(已选)</h4>
                    </div>
<else />
<div class="col-md-4">
                        <img src="http://www.xingkong.us/home/Public/image/banner/{$banners[$i]}">
                        <h4 class="text-muted text-primary text-center">{$banners[$i]}</h4>
                    </div>
</if>
<else />
<if condition="($banners[$i] eq $banner1) or ($banners[$i] eq $banner2) or ($banners[$i] eq $banner3) or($banners[$i] eq $banner4)">
                    <div class="col-md-4">
                        <img src="http://www.xingkong.us/home/Public/image/banner/{$banners[$i]}">
                        <h4 class="text-muted text-primary text-center">{$banners[$i]}(已选)</h4>
                    </div>
<else />
<div class="col-md-4">
                        <img src="http://www.xingkong.us/home/Public/image/banner/{$banners[$i]}">
                        <h4 class="text-muted text-primary text-center">{$banners[$i]}</h4>
                    </div>
</if>
</if>
 </for>

    </div>
</body>
